################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BugWars/FileContentIndex/99f9e728-243f-4c66-bccf-2f60079ca3f7.vsidx
/.vs/BugWars/FileContentIndex/read.lock
/.vs/BugWars/v17/ipch/9bd9b9330aa6b283.ipch
/.vs/BugWars/v17/ipch/f41a2b73fb006d7.ipch
/.vs/BugWars/v17/ipch/feff3d307f62f059.ipch
/.vs/BugWars/v17/.suo
/.vs/BugWars/v17/Browse.VC.db
/.vs/BugWars/v17/Browse.VC.db-shm
/.vs/BugWars/v17/Browse.VC.db-wal
/.vs/BugWars/v17/Browse.VC.opendb
/.vs/BugWars/v17/fileList.bin
/.vs/BugWars/v17/Solution.VC.db
/.vs/BugWars/v17/Solution.VC.db-shm
/.vs/BugWars/v17/Solution.VC.db-wal
/BugWars/x64/Debug/BugWars.tlog/BugWars.lastbuildstate
/BugWars/x64/Debug/BugWars.tlog/CL.command.1.tlog
/BugWars/x64/Debug/BugWars.tlog/CL.read.1.tlog
/BugWars/x64/Debug/BugWars.tlog/CL.write.1.tlog
/BugWars/x64/Debug/BugWars.tlog/Lib-link.read.1.tlog
/BugWars/x64/Debug/BugWars.tlog/Lib-link.write.1.tlog
/BugWars/x64/Debug/BugWars.tlog/Lib.command.1.tlog
*.obj
/BugWars/x64/Debug/BugWars.lib.recipe
/BugWars/x64/Debug/BugWars.log
/BugWars/x64/Debug/BugWars.pch
*.lastbuildstate
*.tlog
*.recipe
*.ilk
*.log
*.pch
*.idb
*.pdb
*.lib
*.exe
*.dll
