################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BugWars/FileContentIndex/99f9e728-243f-4c66-bccf-2f60079ca3f7.vsidx
